@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.op {
    font-family: 'Philosopher', sans-serif;
}

.fullCard:hover .cardBas {
    transform: translateY(-30px);
    z-index: 99;
}

.fullCard:hover .btnFav {
    opacity: 1;
}



.fullCard:hover .logo {
    transform: translateX(0px);
    z-index: 99;
    opacity: 1;
    transition: 0.2s ease-in;
}



.carousel-control-next-icon {
    background-color: rgb(50, 143, 123);
    border-radius: 50%;
    display: flex;
    background-size: 0.9em !important;

}

.carousel-control-prev-icon {

    background-color: rgb(50, 143, 123);
    border-radius: 50%;
    display: flex;
    background-size: 0.9em !important;

}

.carousel-indicators button {

    background-color: rgb(154, 154, 154) !important;
    height: 15px !important;
    width: 15px !important;
    border-radius: 50% !important;
    border-top: 0 !important;
    border-bottom: 0 !important;
    transition: 0.4s ease !important;
}


.carousel-indicators .active {
    width: 40px !important;
    background-color: rgb(50, 143, 123) !important;
    border-radius: 15px !important;
}