@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.op {
    font-family: 'Philosopher', sans-serif;
}

.fullCard:hover .cardBas {
    transform: translateY(-30px);
    z-index: 99;
}

.fullCard:hover .btnFav {
    opacity: 1;
}



.fullCard:hover .logo {
    transform: translateX(0px);
    z-index: 99;
    opacity: 1;
    transition: 0.2s ease-in;
}


