.modal, .modal2{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    justify-content: start;
}

.modal.off{
    transform: translateX(-100%);
}
.modal2.off{
    transform: translateX(-100%);
}

.menu, .menu2{
    height: 100vw;
    width: 25%;
    background-color: white;
    transition: 0.5s ease;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 200;
}

.menu2{
    right: 0px;

}

.menu.off{
    transform: translateX(-100%);
}
.menu2.off{
    transform: translateX(100%);
}

.header{
    height: 60px;
    width: 100%;
    padding: 10px 10%;
    background-color: #dddddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerRight{
    background-color: white;
}

.content{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 30px auto;
    gap: 25px;
    font-size: 1.2em;
}

.noFav{
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.veryBig{
    font-size: 3em;
}

.content *{
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: 0.3s ease;
}


.quit{
    cursor: pointer;
    transition: 0.3s ease;
}

.content *:hover, .quit:hover{
    color: #5A8F7B;
}
.like{
    display: flex;
    align-items: center;
    gap: 20px;
}
.imageLike{
    width: 50px;
    height: 50px;
}

@media only screen and (max-width: 425px){
    .modal .modal2{
        display: none;
    }
    .menu.off{
        transform: translateX(-100%);
    }
    .menu2.off{
        transform: translateX(100%);
    }
    .menu, .menu2{
        width: 100%;
    }
}